.headerSection {
    background: var(--primary-green, #1AC073);
}

.what2eat {
    font-family: "Squada One";
    font-size: 32px;
    letter-spacing: -0.384px;
}

.title-kichen {
    font-family: "Gilroy-Medium";
    font-size: 24px;
}

.pizza-detail {
    font-family: "SF Pro Text";
    font-size: 16px;
}

.pizza-des {
    font-family: "SF Pro Text";
    font-size: 12px;
}

.blog-des {
    font-family: "SF Pro Text";
    font-size: 16px;
}

.hometrending {
    color: #1AC073;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.qty-adjust {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.checkout {
    display: flex;
    justify-content: space-between;
}

.voucher {
    display: flex;
}

.totalprice {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 200px;
    GAP: 10px;
}

.detailprice {
    display: flex;
    justify-content: space-between;
}


/* modal payment */
.check-out-step {
    display: flex;
    justify-content: center;
}
.modal-header {
    align-items: center !important;
    flex-direction: column;
    border-bottom: none !important;
}

#h5-modal-title {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;

    color: #1AC073;
}

#step-1 {
    background-color: #1AC073;
    width: 5%;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 30px;
}

#step-2 {
    background-color: #DEDEDF;
    width: 5%;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 30px;
}
#step-4 {
    background-color: #1AC073;
    width: 5%;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 30px;
}

#step-3 {
    background-color: #DEDEDF;
    width: 5%;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 30px;
}
.connect-line {
    background-color: #DEDEDF;
    width: 3%;
    height: 2px;
    margin: 16px 0;
}

.modal-body input {
    background: #b9b8b8;
    opacity: 0.3;
    border-radius: 10px;
    margin: 1em 0;
}

.modal-body textarea {
    background: #DFDEDE;
    opacity: 0.3;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
}

.select-method {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;

    color: #1AC073;
}

.modal-body input[type='checkbox'] {
    margin: 0.4rem 0;
}

.form-check-label {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
    width: 80%;
}

.form-check i {
    width: 10%;
}

.form-check {
    margin: 1em 0;
}

.modal-footer {
    justify-content: center !important;
    border-top: none !important;
}

.modal-footer .btn {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    background: #1AC073;
    border-radius: 10px;
    width: 30%;
}
/* FootOrdering v2.9 */

.images-food {
    background-image: url("images/noodle\ 1.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-size: cover;
}

.food-title {
    padding: 48px;
    padding-left: 78px;
}
/* Price */
.slider-box {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.price-div, .ranger-label, .price-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-slider {
    position: relative;
    height: 0px;
    background: #ddd;
    border-radius: 10px;
}

.ui-slider {
    position: relative;
    height: 100%;
}

.ui-slider .ui-slider-range {
    position: absolute;
    height: 45%;
    background: #1AC073;
    border-radius: 10px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #1AC073;
    border: 2px solid #1AC073;
    border-radius: 50%;
    cursor: pointer;
}
@media (min-width: 768px) {
    .selector .ui-slider-handle {
        top: -7px;
        width: 16px;
        height: 16px;
    }
}
.selector #slider-range {
    width: 90%;
    margin-bottom: 30px;
    border: none;
    background: #e2f7f2;
    height: 3px;
    margin-left: 8px;
    margin-right: 8px;
}
.card {
    border: none;
}
a {
    color : white;
}
a:hover {
    color: blue;
}
